img {
    max-width: 720px;
    max-height: 480px;
}

div {
    overflow: hidden;
    display: flex;
}

.data-verde {
    color: green;
}

.data-vermelha {
    color: red;
}

#MyClockDisplay {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Garante que o elemento ocupe toda a altura do th */
  }

table, th, td {
    color: #fff;
    border: 1px solid;  
    text-align: center;
    margin: 20px;
}

.registered {
    background-color: lightgreen;
}

table {
    width: 100%;
    height: 0px;
}

.clock {
    color: #fff;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
    padding-inline: 9%;
}