{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<link href="/static/index.css" rel="stylesheet">
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="/static/interface1.png">
      </div>
      <div class="contentBx">
        <h2>RECONHECER</h2>
        <div class="size"><b>Tenha acesso em tempo real a frequencia dos alunos e acompanhe a validação de presença.</b></div>
        <a href="/reconhecer">Acessar</a>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="/static/interface2.png">
      </div>
      <div class="contentBx">
        <h2>REGISTRAR</h2>
        <div class="size"><b>Registre o rosto e informações de um novo aluno.</b></div>
        <a href="/registrar">Acessar</a>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="/static/interface3.png">
      </div>
      <div class="contentBx">
        <h2>TREINAR</h2>
        <div class="size"><b>Após ter realizado o REGISTRAR, faça o treinamento da I.A para captar informações futuras.</b></div>
        <a href="/treinar">Acessar</a>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="/static/interface4.png">
      </div>
      <div class="contentBx">
        <h2>RELATÓRIO</h2>
        <div class="size"><b>Tenha acesso ao relatório de presença da frequencia dos alunos.</b></div>
        <a href="/relatorio">Acessar</a>
      </div>
    </div>
  </div>
{% endblock %}
