{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<link href="/static/index.css" rel="stylesheet">
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="/static/user-interface.png">
      </div>
      <div class="contentBx">
        <h2>RECONHECER</h2>
        <div class="size">Ponto de entrada para adicionar novos alunos ao sistema</div>
        <a href="/reconhecer">Acessar</a>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="/static/user-interface.png">
      </div>
      <div class="contentBx">
        <h2>REGISTRAR</h2>
        <div class="size">Ponto de entrada para adicionar novos alunos ao sistema</div>
        <a href="/registrar">Acessar</a>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="/static/user-interface.png">
      </div>
      <div class="contentBx">
        <h2>REGISTRAR</h2>
        <div class="size">Ponto de entrada para adicionar novos alunos ao sistema</div>
        <a href="#">Acessar</a>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="/static/user-interface.png">
      </div>
      <div class="contentBx">
        <h2>REGISTRAR</h2>
        <div class="size">Ponto de entrada para adicionar novos alunos ao sistema</div>
        <a href="#">Acessar</a>
      </div>
    </div>
  </div>
{% endblock %}
