{% extends "layout.html" %}

{% block title %}
    Reconhecimento
{% endblock %}

{% block main %}

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>


<link href="/static/reconhecer.css" rel="stylesheet">
    <!-- <img src="/rec"> -->
    <div>
        <img src="{{ url_for('rec') }}" alt="Video Stream">
        <table>
            <tr>
                <th colspan="3">
                    <div id="MyClockDisplay" class="clock" onload="showTime()"></div>  
                </th>
            </tr>
            <tr>
              <th>Nome</th>
              <th>Entrada</th>
              <th>Saída</th>
            </tr>
            <tbody id="lista_alunos">
                {% for row in data %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-success" id="start">Iniciar aula</button>
    <button disabled type="button" class="btn btn-danger" id="end">Encerrar aula</button>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            showTime();
            
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.once('connection', async (msg) => {
                while (msg == 'Ok') {
                    socket.emit('req_update');
                    await sleep(5000);
                };
            });

            socket.on('update', async (msg) => {
                var tableBody = document.getElementById('lista_alunos');
                tableBody.innerHTML = '';
                msg = JSON.parse(msg)
                msg.forEach(function(row) {
                    var newRow = tableBody.insertRow(tableBody.rows.length);
                    var cell1 = newRow.insertCell(0);
                    var cell2 = newRow.insertCell(1);
                    var cell3 = newRow.insertCell(2);

                    cell1.innerHTML = row.nome;
                    cell2.innerHTML = row.entrada;
                    cell3.innerHTML = row.saida;
                });
                // for (let item of msg) {
                //     console.log(item);
                // }
                // console.log(msg)
            });
        });
        
        var start_button = document.querySelector('button#start');
        start_button.addEventListener("click", start_aula);
        var end_button = document.querySelector('button#end');
        end_button.addEventListener("click", end_aula);

        function start_aula() {
            start_button.setAttribute('disabled', true);
            end_button.removeAttribute('disabled')
            fetch('http://' + document.domain + ':' + location.port + '/start_aula', {
                method: 'POST'
            });
        };

        function end_aula() {
            end_button.setAttribute('disabled', true);
            start_button.removeAttribute('disabled')

            fetch('http://' + document.domain + ':' + location.port + '/end_aula', {
                method: 'POST'
            });
        }
        
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        
        function showTime(){
        var date = new Date();
        var h = date.getHours(); // 0 - 23
        var m = date.getMinutes(); // 0 - 59
        var s = date.getSeconds(); // 0 - 59
        var session = "AM";
        
        if(h == 0){
            h = 12;
        }
        
        if(h > 12){
            h = h - 12;
            session = "PM";
        }
        
        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;
        
        var time = h + ":" + m + ":" + s + " " + session;
        document.getElementById("MyClockDisplay").innerText = time;
        document.getElementById("MyClockDisplay").textContent = time;
        
        setTimeout(showTime, 1000);
    
    }
    </script>
{% endblock %}
